.hello-color {color:yellow;}

body {
  padding-top: 8rem;
  font-weight: bold;
  background-color: #FFFFE0; /* 淡黃色背景 */
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color: #FFD700; /* 金黃色 */
}

h2{
	color: #FFA500; /* 橙黃色 */
	padding: 0rem 1.0rem 0rem 0rem;
}

.navbar-brand{
  font-size: 25px;
  color: #FFD700; /* 金黃色 */
}

a:hover, a:active {
	color: #FFD700; /* 金黃色 */
	font-weight: bold;
}

.index-green {
	font-size: 35px;
	color: #FFD700; /* 金黃色 */
	font-weight: bold;
}
